/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-page-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --button-text-color: #353430;
  --theme-menu-button-border: #353430;
  --theme-menu-button-hover: rgba(50, 49, 45, 0.4);
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --main-title-color: #353430;
  --description-color: #353430;
  --title-article-color: #353430;
  --text-article-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-page-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --button-text-color: #353430;
    --theme-menu-button-border: #353430;
    --theme-menu-button-hover: rgba(50, 49, 45, 0.4);
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --main-title-color: #353430;
    --description-color: #353430;
    --title-article-color: #353430;
    --text-article-color: #353430;

    --rec-display: none;
  }
}